{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "bracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 80,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
